<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Ciudad</title>
</head>
<body>
    <h1>Parroquias y sus Barios</h1>

    <table>
        <tr>
            <th>Parroquia</th>
            <th>Tipo</th>
            <th>Acción</th>
            <th>Barrios</th>
            <th>Acciones</th>
        </tr>
        
        {% for p in parroquias %}    
        <tr>
        <td>{{p.nombre}}</td>
        <td>{{p.tipo}}</td>
        <td>
            <a href="{% url 'editar_parroquia' p.id %}">editar</a><br>
            <a href="{% url 'eliminar_parroquia' p.id %}" onclick="return confirm('¿Está seguro de la eliminación?')">eliminar</a>
        </td>
        
        <td>
            {% for b in p.barrios.all %}
                {{b.nombre}}<br><br>
            {% endfor %}
        </td>
        <td>
            <a href="{% url 'crear_barrio_parroquia' p.id%}">Añadir un nuevo barrio</a><br>
            {% for b in p.barrios.all %}
            <a href="{% url 'editar_barrio' b.id %}">editar</a><br>
            <a href="{% url 'eliminar_barrio' b.id %}" onclick="return confirm('¿Está seguro de la eliminación?')">eliminar</a><br><br>
            {% endfor %}
        </td>
        </tr>
        {% endfor %} 
    </table> 
     
    <!-- <ol> 
        <li>
            Nombre:  <br>
            Tipo:  <br>
            -  <br>
            - 
            
            <p><b>Barrios</b></p>
            <ul type="square">
                
                <li>
                    <span> -- [] 
                        - []</span>
                </li>
                
                <br>
                - 
            </ul>
        </li>
    <hr>
    
    </ol> -->

    - <a href="{% url 'crear_parroquia' %}">Agregar parroquia</a>
    <br>
    - <a href="{% url 'crear_barrio' %}">Agregar barrio</a>
</body>
</html>